.medium-btn {
  padding: 4px 12px;
  min-width: 80px;
}

.icon-btn {
  width: 35px;
  cursor: pointer;
  fill: white;
  opacity: 0.8;
  display: inline-block;

  &:hover {
    opacity: 1;
  }
}

.play-btn {
  border-radius: 4px;

  .stop {
    display: none;
  }

  &.active {
    .stop {
      display: block;
    }

    .play  {
      display: none;
    }
  }
}

.file-btn {
  input {
    position: fixed;
    left: -100px;
    top: -100px;
  }
}
