.side-panel .header {
  position: absolute;
  top: 0;
  left: 0;
  width: calc($panel-width - 1px);
  z-index: 5;
  padding: 8px 0;
  background: #333;

  >* {
    display: inline-block;
  }

  .menu-dropdown-btn {
    margin-top: 0;
    width: 30px;
  }

  .close-btn {
    position: absolute;
    right: 6px;
  }

  .back-btn {
    display: none;
    width: 24px;

    &.show {
      display: inline-block;
    }
  }
}
