.carousel {
  height: 100%;
  margin-top: 100vh;

  .carousel-slides {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    white-space: nowrap;

    > div {
      display: inline-block;
      padding: 10px;
    }
  }

  img {
    height: 40vh;
  }

  .carousel-text {
    background: white;
    width: 100%;
    height: 36vh;
    display: flex;
    align-items:center;
    justify-content:center;
  }
}
