.carousel {
  .carousel-slides {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    white-space: nowrap;

    > div {
      display: inline-block;
      padding: 10px;
    }
  }

  img {
    height: 40vh;
  }

  .carousel-text {
    background: white;
    height: 36vh;
    color: orange;
  }
}
