#intro {
  text-align: center;
  background: #111;

  .logo {
    margin: 200px auto 120px;
  }

  .scroll {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 120px;
  }
}

#msgs {
  line-height: 1;
}
