#intro {
  text-align: center;
  background: #111;

  .heading {
    font-size: 2rem;
    margin: 200px auto 120px;
  }

  .msg {
    font-size: 1.6rem;
  }

  .scroll {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 120px;
  }
}
