body {
  color: $primary-color;
  background-color: $primary-bg;
  font-family: 'Red Hat Display', sans-serif;
}

* {
  box-sizing: border-box;
}

#main-content {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.initial {
  z-index: 1;
  color: orange;
  background: $primary-bg;
}
