html {
  font-size: 16px;
}

body {
  color: $primary-color;
  background-color: $primary-bg;
  font-family: 'Red Hat Display', sans-serif;
}

* {
  box-sizing: border-box;
}

#main-content {
  position: relative;
  min-height: 100vh;
}

.initial {
  z-index: 1;
  font-size: 3rem;
  color: orange;
  background: $primary-bg;
}
