<div class='side-panel timeline-panel' data-template='config/timeline'>
  <div class='container'>
    <div class='timeline' data-name='timeline'>
      <div class="timeline-row top-row">
        <div>Speed</div>
        <div data-name='speedRange'></div>
      </div>
      <div>
        <div class="tab-btn active" data-act='click' data-func="tabClick"><span>DOM</span></div>
        <div class="tab-btn" data-act='click' data-func="tabClick"><span>OBJ</span></div>
        <div class="tab-btn" data-act='click' data-func="tabClick"><span>SEQ</span></div>
      </div>
      <div class="tabs">
        <div class="tab dom">
          <div data-slot='{"t": "config/timeline/targets", "func": "slotData", "replace": 1, "target_prop": "dom"}'></div>
        </div>
        <div class="tab obj hide">
          <div data-slot='{"t": "config/timeline/targets", "func": "slotData", "replace": 1, "target_prop": "obj"}'></div>
        </div>
        <div class="tab seq hide">
          <div data-slot='{"t": "config/timeline/targets", "func": "slotData", "replace": 1, "target_prop": "sequences"}'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-template='config/timeline/targets'>
  <div data-name='targets' data-list='{"prop": "items", "vars": {"v": "target"}}'>
    <div class="each">
      <div class='title'>
        <div data-act='click' data-func='toggleView'>{target.el}</div>
        <div class="icon-btn" data-act='click' data-func='removeItem' data-slot='{"t": "config/icons-close"}'></div>
      </div>
      <div class='clearfix' data-name='fields' data-list='{"prop": "target.fields", "vars": {"v": "field"}}'>
        <div class='field'>
          <div class="row">
            <div class='anim-time'>
              <span>{index}.</span>
              <div class="time-wrap" data-bind='field:setupRange,~field.time,time' data-arg='{"min": 0, "max": 100, "restrict": 1}'></div>
            </div>
            <div class="buttons">
              <div data-slot='{"t": "config/play-btn", "replace": 1}'></div>
              <div class="icon-btn" data-act='click' data-func='removeField' data-slot='{"t": "config/icons-trash"}'></div>
              <div class="icon-btn small bit-flag" data-bind='field.browser|number,0|testFlag,1|toggleClass,on' data-act='click' data-func='toggleBrowser' data-arg='1' data-slot='{"t": "config/icons-phone"}'></div>
              <div class="icon-btn small bit-flag" data-bind='field.browser|number,0|testFlag,2|toggleClass,on' data-act='click' data-func='toggleBrowser' data-arg='6' data-slot='{"t": "config/icons-desktop"}'></div>
              <div class="menu-dropdown">
                <a class="menu-dropdown-btn icon-btn" data-slot='{"t": "config/icons-add"}'></a>
                <div class="menu" data-name='props' data-list='{"prop": "field.list", "func": "getProps", "vars": {"v": "prop"}}'>
                  <div data-act='click' data-func='addProp'>{prop.txt}</div>
                </div>
              </div>
            </div>
          </div>
          <div data-name='list' data-list='{"prop": "field.list", "vars": {"v": "item"}}'>
            <div class="timeline-row clearfix">
              <div>{item.key}</div>
              <div data-if='item.key|equal,easing'>
                <select data-list='{"prop": "@easings", "vars": {"v": "easing"}}' data-bind='item.val|str,linear:val' data-act="change" data-func='valChange'>
                  <option value="{easing}">{easing}</option>
                </select>
              </div>
              <div data-elif='item.key|equal,sequence'>
                <select data-list='{"prop": "rd.timedata.sequences"}' data-bind='item.val:val' data-act="change" data-func='valChange'>
                  <option value="{val.el}">{val.el}</option>
                </select>
              </div>
              <div data-else=''>
                <div data-bind='item:setupRange,~pd.field.time'></div>
              </div>
              <div>
                <div data-if='pd.pd.pd.target_prop|equal,dom;item.key|hasUnits' >
                  <select data-list='{"prop": "item.key", "func": "getUnits", "vars": {"v": "unit"}}' data-bind='item.unit|str,%:val' data-act="change" data-func='unitChange'>
                    <option value="{unit}">{unit}</option>
                  </select>
                </div>
                <div class="icon-btn" data-act='click' data-func='removeProp' data-slot='{"t": "config/icons-close"}'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button class='editor-btn' data-act='click' data-func='addField'>+ Anim</button>
      </div>
      <hr>
    </div>
  </div>
  <div class="tab-controls">
    <form data-act="form" data-func='addItem' data-arg='{target_prop}'>
      <input name='target' required>
      <button type='submit' class='editor-btn'>+ Target</button>
    </form>
  </div>
</div>
