<div id='carousel-1' class="carousel">
  <div class="carousel-text">
    <h2>
      This text will stick at top while the carousel is showing images.
    </h2>
  </div>
  <div class="carousel-slides">
    <div><img src="images/pic-01.jpg" alt=""></div>
    <div><img src="images/pic-02.jpg" alt=""></div>
    <div><img src="images/pic-03.jpg" alt=""></div>
    <div><img src="images/pic-04.jpg" alt=""></div>
    <div><img src="images/pic-05.jpg" alt=""></div>
    <div><img src="images/pic-06.jpg" alt=""></div>
    <div><img src="images/pic-07.jpg" alt=""></div>
    <div><img src="images/pic-08.jpg" alt=""></div>
    <div><img src="images/pic-09.jpg" alt=""></div>
    <div><img src="images/pic-10.jpg" alt=""></div>
  </div>
</div>
