<div id='intro' class="full-screen fixed">
  <div class="center-flex dir-col">
    <p class="logo lg-3">State Empire</p>
    <p class="lg-2-5">A design and development studio</p>
    <div class="scroll pulse">Scroll</div>
  </div>
</div>
<div id='msgs' class='full-screen fixed center-flex'>
  <div class="msg absolute lg-1-5 md-1-3 sm-1">Impress your clients</div>
  <div class="msg absolute lg-1-5 md-1-3 sm-1">With silky animations</div>
  <div class="msg absolute lg-1-5 md-1-3 sm-1">and intuitive UX</div>
</div>
